Repository millord237/agent-lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier (dashboard)
  language: system
  pass_filenames: true
  ...

eslint:
  name: eslint (dashboard)
  language: system
  pass_filenames: true
  ...

stylelint:
  name: stylelint (dashboard)
  language: system
  pass_filenames: true
  ...

.
  scripts/badge_aggregation.js
Due: prettier, eslint

make health timeout configurable
  agentlightning/store/client_server.py
Due: none

add tests
  tests/store/test_client_server.py
Due: none

Fix CI Badge and make Calc-X pipeline faster (#304)
  .github/workflows/badge-compat.yml
  .github/workflows/badge-unit.yml
  .github/workflows/examples-calc-x.yml
  README.md
  examples/calc_x/train_calc_agent.py
  scripts/badge_aggregation.js
Due: prettier, eslint

Deployed a8c2f55 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

Make health timeout configurable (#305)
  agentlightning/store/client_server.py
  tests/store/test_client_server.py
Due: none

Deployed f6d9e88 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/reference/store/index.html
  latest/search/search_index.json
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

.
  tests/test_logging.py
Due: none

docs
  agentlightning/__init__.py
  agentlightning/logging.py
  docs/reference/trainer.md
Due: none

.
  agentlightning/cli/store.py
  agentlightning/logging.py
Due: none

fix lint
  agentlightning/logging.py
  examples/spider/sql_agent.py
  examples/tinker/tests/test_tinker_llm.py
Due: none

.
  examples/tinker/tests/test_tinker_llm.py
Due: none

fix
  agentlightning/logging.py
  agentlightning/store/client_server.py
Due: none

.
  agentlightning/store/client_server.py
Due: none

Refactor logging (#306)
  agentlightning/__init__.py
  agentlightning/cli/store.py
  agentlightning/logging.py
  agentlightning/store/client_server.py
  agentlightning/verl/daemon.py
  docs/reference/trainer.md
  examples/apo/apo_custom_algorithm.py
  examples/apo/apo_custom_algorithm_trainer.py
  examples/apo/apo_debug.py
  examples/apo/legacy_apo_client.py
  examples/apo/room_selector_apo.py
  examples/azure/tests/test_deployment.py
  examples/azure/train_capital_agent.py
  examples/calc_x/legacy_calc_agent.py
  examples/rag/rag_agent.py
  examples/search_r1/search_r1_agent.py
  examples/spider/sql_agent.py
  examples/tinker/hello.py
  examples/tinker/q20_train.py
  examples/tinker/tests/test_tinker_llm.py
  examples/unsloth/math_agent.py
  examples/unsloth/sft_algorithm.py
  examples/unsloth/sft_allinone.py
  examples/unsloth/sft_rollout_runners.py
  tests/test_logging.py
  tests/utils/test_server_launcher.py
Due: none

Deployed 0d4dce1 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/objects.inv
  latest/reference/trainer/index.html
  latest/search/search_index.json
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

first examples
  agent.py
  examples/minimal/llm_proxy.py
  examples/minimal/vllm_server.py
  examples/minimal/write_traces.py
  main.py
Due: none

update examples
  examples/minimal/llm_proxy.py
  examples/minimal/vllm_server.py
Due: none

modify store
  agentlightning/store/base.py
  agentlightning/store/client_server.py
  agentlightning/store/memory.py
Due: none

.
  agentlightning/store/memory.py
Due: none

.
  agentlightning/llm_proxy.py
Due: none

Check all matching jobs per variant
  scripts/badge_aggregation.js
Due: prettier, eslint

Fix variant matching logic in badge aggregation
  scripts/badge_aggregation.js
Due: prettier, eslint

Check all matching jobs per variant (#310)
  scripts/badge_aggregation.js
Due: prettier, eslint

Deployed c36071b to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

.
  agentlightning/store/client_server.py
  agentlightning/utils/otlp.py
  examples/minimal/llm_proxy.py
Due: none

span proto to pan
  agentlightning/llm_proxy.py
  agentlightning/store/client_server.py
  agentlightning/utils/otlp.py
  examples/minimal/llm_proxy.py
Due: none

add new examples
  agentlightning/cli/store.py
  agentlightning/tracer/base.py
  examples/minimal/llm_proxy.py
  examples/minimal/write_traces.py
Due: none

support agentops
  agentlightning/instrumentation/agentops.py
  agentlightning/store/client_server.py
  agentlightning/tracer/agentops.py
  agentlightning/types/tracer.py
  examples/minimal/write_traces.py
Due: none

agentops+
  agentlightning/instrumentation/agentops.py
  agentlightning/store/client_server.py
  agentlightning/types/tracer.py
  agentlightning/utils/otlp.py
Due: none

support llm proxy
  agentlightning/llm_proxy.py
  agentlightning/utils/otlp.py
  examples/minimal/llm_proxy.py
Due: none

extract common util
  agentlightning/instrumentation/agentops.py
  agentlightning/utils/otlp.py
Due: none

move agentops logic to otel
  agentlightning/tracer/agentops.py
  agentlightning/tracer/otel.py
Due: none

.
  agentlightning/tracer/agentops.py
  agentlightning/tracer/otel.py
  agentlightning/utils/otlp.py
Due: none

fix agentops and otel
  agentlightning/tracer/agentops.py
  agentlightning/tracer/otel.py
  examples/minimal/write_traces.py
Due: none

Added the README and script files for training sql_agent on NPU (#272)
  docs/how-to/train-sql-agent.md
  examples/spider/README.md
  examples/spider/train_sql_agent.py
Due: none

Deployed ca641db to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

delete unused files
  agent.py
  main.py
Due: none

resolve comments and fix tests
  agentlightning/instrumentation/agentops.py
  agentlightning/store/base.py
  agentlightning/tracer/otel.py
  agentlightning/utils/otlp.py
  tests/tracer/test_otel.py
Due: none

patch candidates
  agentlightning/tracer/agentops.py
  agentlightning/tracer/otel.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  stylelint: any of: \.css$, \.scss$
