Repository millord237/agent-lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=1024"]
        exclude: (^uv\.lock$)|(^docs/assets/.*\.svg$)
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["."]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        pass_filenames: false
        always_run: true
        args: ["."]

  - repo: local
    hooks:
    - id: prettier
      name: prettier (dashboard)
      language: system
      pass_filenames: true
      types_or: [javascript, jsx, ts, tsx, json, css, scss, html]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            # Rebase repo-root paths to the dashboard/ cwd
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            cd dashboard && npx prettier --write "${REBASED[@]}"
          else
            echo "[pre-commit] Skipping prettier: npx not found" >&2
            exit 0
          fi
        '

    - id: eslint
      name: eslint (dashboard)
      language: system
      pass_filenames: true
      types_or: [javascript, jsx, ts, tsx]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            cd dashboard && npx eslint --fix "${REBASED[@]}"
          else
            echo "[pre-commit] Skipping eslint: npx not found" >&2
            exit 0
          fi
        '

    - id: stylelint
      name: stylelint (dashboard)
      language: system
      pass_filenames: true
      types_or: [css, scss]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            if [ ${#REBASED[@]} -gt 0 ]; then
              echo "[pre-commit] Linting ${#REBASED[@]} files with stylelint" >&2
              cd dashboard && npx stylelint --fix "${REBASED[@]}"
            else
              echo "[pre-commit] Skipping stylelint: no files to lint" >&2
              exit 0
            fi
          else
            echo "[pre-commit] Skipping stylelint: npx not found" >&2
            exit 0
          fi
        '

make constants
  dashboard/.storybook/constants.ts
  dashboard/package.json
  dashboard/src/components/AppAlertBanner.story.tsx
  dashboard/src/components/AppDrawer.story.tsx
  dashboard/src/components/RolloutTable.story.tsx
  dashboard/src/components/TracesTable.story.tsx
  dashboard/src/layouts/AppLayout.story.tsx
  dashboard/src/pages/Resources.page.story.tsx
  dashboard/src/pages/Rollouts.page.story.tsx
  dashboard/src/pages/Settings.page.story.tsx
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/tsconfig.json
Due: prettier, eslint

.
  dashboard/.storybook/constants.ts
  dashboard/src/layouts/AppLayout.story.tsx
  dashboard/tsconfig.json
Due: prettier, eslint

fix date now
  dashboard/.storybook/preview.tsx
Due: prettier, eslint

.
  .github/workflows/tests.yml
  dashboard/README.md
  dashboard/package.json
Due: prettier

.
  .github/workflows/tests.yml
  .pre-commit-config.yaml
Due: none

.
  .github/workflows/tests.yml
Due: none

.
  dashboard/vite.config.mjs
  dashboard/vitest.global-setup.mjs
  dashboard/vitest.setup.mjs
Due: prettier, eslint

update dashboard test
  .github/workflows/dashboard.yml
  .github/workflows/tests.yml
Due: none

Deployed 538c905 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

fix dashboard pipeline
  .github/workflows/dashboard.yml
Due: none

.
  .github/workflows/dashboard.yml
Due: none

Fix dashboard pipeline (#289)
  .github/workflows/dashboard.yml
Due: none

Deployed 5e38fda to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

add route
  .gitignore
  agentlightning/store/client_server.py
  dashboard/src/layouts/AppLayout.tsx
  dashboard/src/pages/Settings.page.tsx
  dashboard/vite.config.mjs
Due: prettier, eslint

Install dashboard
  docs/tutorials/installation.md
Due: none

update client server
  agentlightning/store/client_server.py
Due: none

.
  tests/store/test_client_server.py
Due: none

fix table overflow issue
  dashboard/src/components/ResourcesTable.component.tsx
  dashboard/src/components/RolloutTable.component.tsx
  dashboard/src/components/TracesTable.component.tsx
  dashboard/src/layouts/helper.ts
  dashboard/src/pages/Resources.page.story.tsx
  dashboard/src/pages/Rollouts.page.story.tsx
  dashboard/src/pages/Traces.page.story.tsx
Due: prettier, eslint

drawer overflow fixes and trace url fixes
  dashboard/src/components/AppDrawer.component.tsx
  dashboard/src/features/rollouts/rollouts.test.ts
  dashboard/src/features/traces/slice.ts
  dashboard/src/pages/Resources.page.story.tsx
  dashboard/src/pages/Rollouts.page.story.tsx
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/src/pages/Traces.page.tsx
Due: prettier, eslint

fix favicon
  .gitignore
  dashboard/public/index.html
  dashboard/src/components/AppDrawer.component.tsx
  dashboard/src/pages/Rollouts.page.story.tsx
Due: prettier, eslint

fix column width
  dashboard/src/components/RolloutTable.component.tsx
  dashboard/src/layouts/helper.ts
  dashboard/src/pages/Rollouts.page.story.tsx
  dashboard/src/utils/table.ts
Due: prettier, eslint

.
  dashboard/src/layouts/helper.ts
Due: prettier, eslint

.
  dashboard/src/components/AppDrawer.component.tsx
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/src/pages/Traces.page.tsx
Due: prettier, eslint

.
  dashboard/src/components/TracesTable.component.tsx
  dashboard/src/features/rollouts/api.ts
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/src/pages/Traces.page.tsx
Due: prettier, eslint

UI adjustment
  dashboard/src/components/RolloutTable.component.tsx
  dashboard/src/components/TracesTable.component.tsx
  dashboard/src/features/rollouts/api.ts
  dashboard/src/utils/format.ts
Due: prettier, eslint

.
  dashboard/src/pages/Traces.page.story.tsx
Due: prettier, eslint

fix api camel case
  dashboard/src/features/rollouts/api.ts
Due: prettier, eslint

setup vitest storybook
  dashboard/.storybook/main.ts
  dashboard/.storybook/vitest.setup.ts
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/tsconfig.json
  dashboard/vite.config.mjs
  dashboard/vitest.shims.d.ts
Due: prettier, eslint

fix stories chromatic issues
  dashboard/src/pages/Rollouts.page.story.tsx
  dashboard/src/pages/Traces.page.story.tsx
Due: prettier, eslint

fix dashboard build
  .github/workflows/pypi-nightly.yml
  .github/workflows/pypi-release.yml
  pyproject.toml
Due: none

.
  dashboard/vitest.shims.d.ts
Due: prettier, eslint

.
  dashboard/src/features/rollouts/api.ts
Due: prettier, eslint

llm proxy partially done
  agentlightning/llm_proxy.py
  agentlightning/utils/server_launcher.py
  tests/llm_proxy/test_llm_proxy_cpu.py
  tests/llm_proxy/test_llm_proxy_gpu.py
  tests/utils/test_server_launcher.py
Due: none

fix tests
  tests/llm_proxy/test_llm_proxy_gpu.py
Due: none

.
  pyproject.toml
Due: none

Dashboard - build into Python package (#291)
  .github/workflows/pypi-nightly.yml
  .github/workflows/pypi-release.yml
  .gitignore
  agentlightning/store/client_server.py
  dashboard/.storybook/main.ts
  dashboard/.storybook/vitest.setup.ts
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/public/index.html
  dashboard/src/components/AppDrawer.component.tsx
  dashboard/src/components/ResourcesTable.component.tsx
  dashboard/src/components/RolloutTable.component.tsx
  dashboard/src/components/TracesTable.component.tsx
  dashboard/src/features/rollouts/api.ts
  dashboard/src/features/rollouts/rollouts.test.ts
  dashboard/src/features/traces/slice.ts
  dashboard/src/layouts/AppLayout.tsx
  dashboard/src/layouts/helper.ts
  dashboard/src/pages/Resources.page.story.tsx
  dashboard/src/pages/Rollouts.page.story.tsx
  dashboard/src/pages/Settings.page.tsx
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/src/pages/Traces.page.tsx
  dashboard/src/utils/format.ts
  dashboard/src/utils/table.ts
  dashboard/tsconfig.json
  dashboard/vite.config.mjs
  dashboard/vitest.shims.d.ts
  docs/tutorials/installation.md
  pyproject.toml
  tests/store/test_client_server.py
Due: prettier, eslint
