Repository millord237/agent-lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=1024"]
        exclude: (^uv\.lock$)|(^docs/assets/.*\.svg$)
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["."]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        pass_filenames: false
        always_run: true
        args: ["."]

  - repo: local
    hooks:
    - id: prettier
      name: prettier (dashboard)
      language: system
      pass_filenames: true
      types_or: [javascript, jsx, ts, tsx, json, css, scss, html]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            # Rebase repo-root paths to the dashboard/ cwd
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            cd dashboard && npx prettier --write "${REBASED[@]}"
          else
            echo "[pre-commit] Skipping prettier: npx not found" >&2
            exit 0
          fi
        '

    - id: eslint
      name: eslint (dashboard)
      language: system
      pass_filenames: true
      types_or: [javascript, jsx, ts, tsx]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            cd dashboard && npx eslint --fix "${REBASED[@]}"
          else
            echo "[pre-commit] Skipping eslint: npx not found" >&2
            exit 0
          fi
        '

    - id: stylelint
      name: stylelint (dashboard)
      language: system
      pass_filenames: true
      types_or: [css, scss]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            if [ ${#REBASED[@]} -gt 0 ]; then
              echo "[pre-commit] Linting ${#REBASED[@]} files with stylelint" >&2
              cd dashboard && npx stylelint --fix "${REBASED[@]}"
            else
              echo "[pre-commit] Skipping stylelint: no files to lint" >&2
              exit 0
            fi
          else
            echo "[pre-commit] Skipping stylelint: npx not found" >&2
            exit 0
          fi
        '

Deployed 1184ddf to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

Add Tinker tuning article links to documentation
  README.md
  docs/index.md
Due: none

fix
  README.md
  docs/index.md
Due: none

Add Tinker × Agent-lightning tuning articles to docs (#269)
  README.md
  docs/index.md
Due: none

Deployed ddbe9fb to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/search/search_index.json
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

only corner cases for status propagation
  agentlightning/store/database/dbstore.py
  agentlightning/store/database/orm/__init__.py
  agentlightning/store/database/orm/attempt.py
  agentlightning/store/database/orm/base.py
  agentlightning/store/database/orm/rollout.py
  tests/store/test_database.py
Due: none

all tests passed with some FIXME
  agentlightning/store/database/dbstore.py
  agentlightning/store/database/orm/rollout.py
  tests/store/conftest.py
  tests/store/test_database.py
Due: none

.
  examples/tinker/test-results/lineplot.py
  examples/tinker/test-results/lineplot_accuracy_q20_no_search_30b.json
  examples/tinker/test-results/lineplot_accuracy_q20_no_search_4b.json
  examples/tinker/test-results/lineplot_accuracy_q20_search_4b.json
  examples/tinker/test-results/lineplot_accuracy_verl.json
  examples/tinker/test-results/lineplot_cost_vs_accuracy.json
  examples/tinker/test-results/lineplot_time_vs_accuracy.json
  examples/tinker/test-results/lineplot_tokens_per_turn.json
Due: prettier

Fix: Port conflict in tracer tests
  tests/tracer/test_integration.py
Due: none

clickable server status
  dashboard/src/layouts/AppLayout.tsx
  dashboard/src/styles/app.css
Due: prettier, eslint, stylelint

fix room_selector example which always run the first task (#270)
  examples/apo/room_selector.py
Due: none

Deployed 9dc8d69 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

migrate /agl/v1 to /v1/agl
  agentlightning/store/client_server.py
  dashboard/src/features/rollouts/api.ts
  dashboard/src/pages/Resources.page.story.tsx
  dashboard/src/pages/Rollouts.page.story.tsx
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/src/utils/mock.test.ts
  dashboard/src/utils/mock.ts
  dashboard/vitest.setup.mjs
  docs/assets/store-openapi.json
  tests/store/test_restful.py
Due: prettier, eslint

reserved otlp endpoints
  agentlightning/store/client_server.py
Due: none

Fix: Port conflict in tracer tests (#271)
  tests/tracer/test_integration.py
Due: none

Deployed feb5874 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

fix some styling issues
  dashboard/src/components/RolloutTable.component.tsx
  dashboard/src/layouts/AppLayout.story.tsx
  dashboard/src/layouts/AppLayout.tsx
  dashboard/src/styles/app.css
Due: prettier, eslint, stylelint

update cors
  agentlightning/cli/store.py
  agentlightning/store/client_server.py
  dashboard/test-utils/python-server.py
  pyproject.toml
  tests/store/test_restful.py
Due: none

reuse test_memory.py
  agentlightning/store/database/dbstore.py
  tests/store/conftest.py
  tests/store/test_database.py
Due: none

update store openapi
  docs/assets/store-openapi.json
Due: prettier

.
  agentlightning/store/client_server.py
Due: none

Deployed 439d83e to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/assets/store-openapi.json
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/reference/store/index.html
  latest/search/search_index.json
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

fix typo
  pyproject.toml
Due: none

Fix preparing status transition on rollout when creating attempts
  agentlightning/store/memory.py
  tests/store/test_memory.py
Due: none

try to split tests
  tests/store/test_client_server.py
Due: none

Fix preparing status transition on rollout when creating attempts (#278)
  agentlightning/store/memory.py
  tests/store/test_client_server.py
  tests/store/test_memory.py
Due: none

Deployed 7b2629a to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

Preserve interface for SQL store testing
  tests/store/conftest.py
  tests/store/test_client_server.py
  tests/store/test_implementation.py
Due: none

Apply suggestion from @Copilot
  tests/store/test_client_server.py
Due: none

Fix misupdate
  tests/store/test_client_server.py
Due: none

.
  tests/store/conftest.py
Due: none
