Repository millord237/agent-lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=1024"]
        exclude: (^uv\.lock$)|(^docs/assets/.*\.svg$)
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["."]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        pass_filenames: false
        always_run: true
        args: ["."]

  - repo: local
    hooks:
    - id: prettier
      name: prettier (dashboard)
      language: system
      pass_filenames: true
      types_or: [javascript, jsx, ts, tsx, json, css, scss, html]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            # Rebase repo-root paths to the dashboard/ cwd
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            cd dashboard && npx prettier --write "${REBASED[@]}"
          else
            echo "[pre-commit] Skipping prettier: npx not found" >&2
            exit 0
          fi
        '

    - id: eslint
      name: eslint (dashboard)
      language: system
      pass_filenames: true
      types_or: [javascript, jsx, ts, tsx]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            cd dashboard && npx eslint --fix "${REBASED[@]}"
          else
            echo "[pre-commit] Skipping eslint: npx not found" >&2
            exit 0
          fi
        '

    - id: stylelint
      name: stylelint (dashboard)
      language: system
      pass_filenames: true
      types_or: [css, scss]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            if [ ${#REBASED[@]} -gt 0 ]; then
              echo "[pre-commit] Linting ${#REBASED[@]} files with stylelint" >&2
              cd dashboard && npx stylelint --fix "${REBASED[@]}"
            else
              echo "[pre-commit] Skipping stylelint: no files to lint" >&2
              exit 0
            fi
          else
            echo "[pre-commit] Skipping stylelint: npx not found" >&2
            exit 0
          fi
        '

.
  examples/azure/aoai_finetune.py
Due: none

.
  .github/workflows/examples-compat.yml
Due: none

.
  tests/benchmark/benchmark_store.py
  tests/benchmark/utils.py
Due: none

,
  examples/azure/aoai_finetune.py
Due: none

update benchmark
  tests/benchmark/benchmark_store.py
Due: none

Adding new yamls
  .github/workflows/benchmark.yml
  .github/workflows/examples-azure.yml
  .github/workflows/examples-tinker.yml
Due: none

revert
  .github/workflows/examples-compat.yml
  .github/workflows/examples-spider.yml
Due: none

revert
  .github/workflows/tests-full.yml
  examples/tinker/q20_evaluate.py
Due: none

add badge
  .github/workflows/badge-azure.yml
  .github/workflows/badge-tinker.yml
Due: none

Deployed db37c7b to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

update docker-compose
  .dockerignore
  agentlightning/cli/store.py
  agentlightning/store/client_server.py
  docker/compose.mongo.yml
  docker/compose.prometheus-memory-store.yml
  docker/compose.prometheus-mongo-store.yml
  docker/compose.store.yml
  docker/dev.Dockerfile
  docker/prometheus.memory-store.yml
  docker/prometheus.mongo-store.yml
  scripts/mongodb_init_rs.js
Due: prettier, eslint

update docker file
  .github/workflows/tests-full.yml
  docker/Dockerfile.dev
  docker/compose.store.yml
  tests/store/test_implementation.py
Due: none

remove gitkeep
  .github/workflows/tests-full.yml
  docker/data/mongo/.gitkeep
  docker/data/prometheus/.gitkeep
  docker/setup.sh
Due: none

.
  .github/workflows/tests-full.yml
  .gitignore
Due: none

.
  .github/workflows/tests-full.yml
Due: none

update mongodb setup
  agentlightning/cli/store.py
  docker/compose.mongo.yml
  docker/compose.prometheus-mongo-store.yml
  docker/setup.sh
  scripts/mongodb_init_rs_host.js
  scripts/mongodb_init_rs_profiling.js
Due: prettier, eslint

make mongo db store usable
  agentlightning/store/client_server.py
  docker/compose.prometheus-mongo-store.yml
  examples/minimal/write_traces.py
  tests/benchmark/benchmark_store.py
Due: none

.
  agentlightning/cli/store.py
  agentlightning/store/client_server.py
  tests/benchmark/benchmark_store.py
Due: none

.
  agentlightning/store/client_server.py
  tests/benchmark/benchmark_store.py
Due: none

Deployed b96115a to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/reference/store/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

Add examples catalog
  .github/workflows/badge-examples.yml
  docs/how-to/examples-catalog.md
  docs/stylesheets/extra.css
  examples/README.md
  mkdocs.yml
Due: prettier, stylelint

how to contribute
  docs/community/contributing.md
Due: none

.
  docs/community/contributing.md
Due: none

.
  docs/community/contributing.md
  docs/how-to/examples-catalog.md
Due: none

update contributing guide
  docs/community/contributing.md
Due: none

.
  docs/how-to/examples-catalog.md
  examples/README.md
Due: none

.
  README.md
  docs/community/contributing.md
Due: none

Add Examples Catalog and Refine Contribution Guide (#331)
  .github/workflows/badge-examples.yml
  README.md
  docs/community/contributing.md
  docs/how-to/examples-catalog.md
  docs/stylesheets/extra.css
  examples/README.md
  mkdocs.yml
Due: prettier, stylelint

Deployed 2c9c59e to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/404.html
  latest/algorithm-zoo/apo/index.html
  latest/algorithm-zoo/index.html
  latest/algorithm-zoo/verl/index.html
  latest/changelog/index.html
  latest/community/contributing/index.html
  latest/community/maintainers/index.html
  latest/deep-dive/birds-eye-view/index.html
  latest/deep-dive/serving-llm/index.html
  latest/deep-dive/store/index.html
  latest/how-to/examples-catalog/index.html
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/reference/agent/index.html
  latest/reference/algorithm/index.html
  latest/reference/instrumentation/index.html
  latest/reference/internal/index.html
  latest/reference/restful/index.html
  latest/reference/runner/index.html
  latest/reference/store/index.html
  latest/reference/trainer/index.html
  latest/reference/types/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/stylesheets/extra.css
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
  latest/tutorials/traces/index.html
  latest/tutorials/write-agents/index.html
Due: prettier, stylelint

adjust warning z-index
  docs/stylesheets/extra.css
Due: prettier, stylelint

update readme
  examples/azure/README.md
  examples/tinker/README.md
Due: none

add new metrics
  agentlightning/cli/store.py
  agentlightning/store/client_server.py
  agentlightning/store/collection/mongo.py
  agentlightning/store/mongo.py
  agentlightning/utils/server_launcher.py
Due: none

fix prometheus
  docker/prometheus.memory-store.yml
  docker/prometheus.mongo-store.yml
Due: none

try developer tier
  examples/azure/aoai_finetune.py
Due: none

checkpoint
  docker/compose.mongo.yml
  docker/compose.prometheus-memory-store.yml
  docker/compose.prometheus-mongo-store.yml
  docker/compose.store.yml
  docker/grafana/dashboard-provider.yml
  docker/grafana/dashboards/1860_rev42.json
  docker/grafana/dashboards/20192_rev1.json
  docker/grafana/dashboards/agentlightning.json
  docker/grafana/datasource.yml
  docker/setup.sh
Due: prettier
