Repository millord237/agent-lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier (dashboard)
  language: system
  pass_filenames: true
  ...

eslint:
  name: eslint (dashboard)
  language: system
  pass_filenames: true
  ...

stylelint:
  name: stylelint (dashboard)
  language: system
  pass_filenames: true
  ...

update
  agentlightning/store/client_server.py
  agentlightning/store/collection/mongo.py
  docker/compose.prometheus-mongo-store.yml
  docker/grafana/dashboards/agentlightning.json
  docker/prometheus.memory-store.yml
  docker/prometheus.mongo-store.yml
Due: prettier

update env var
  agentlightning/emitter/utils.py
  agentlightning/env_var.py
  agentlightning/execution/base.py
  agentlightning/execution/client_server.py
  agentlightning/execution/shared_memory.py
  agentlightning/tracer/otel.py
  agentlightning/utils/otlp.py
  examples/calc_x/train_calc_agent.py
  tests/test_env_var.py
Due: none

update dashboard json
  docker/grafana/dashboards/agentlightning.json
Due: prettier

Upgrade transformers and CrewAI versions
  pyproject.toml
Due: none

Deployed 96d001b to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/contributing/index.html
  latest/how-to/examples-catalog/index.html
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

classify errors
  agentlightning/store/collection/mongo.py
  docker/grafana/dashboards/agentlightning.json
Due: prettier

improve mongo tracking
  agentlightning/store/client_server.py
  agentlightning/store/collection/mongo.py
  docker/grafana/dashboards/agentlightning.json
Due: prettier

add more logging
  agentlightning/store/collection/mongo.py
  docker/grafana/dashboards/agentlightning.json
Due: prettier

update example
  agentlightning/emitter/utils.py
  examples/minimal/write_traces.py
Due: none

adding more charts
  agentlightning/store/collection/mongo.py
  docker/grafana/dashboards/agentlightning.json
Due: prettier

.
  agentlightning/emitter/annotation.py
  agentlightning/semconv.py
Due: none

checkpoint
  agentlightning/emitter/annotation.py
  agentlightning/emitter/reward.py
  agentlightning/emitter/utils.py
  agentlightning/semconv.py
  tests/emitter/test_utils.py
Due: none

enable prometheus in collection store
  agentlightning/store/collection_based.py
  agentlightning/store/mongo.py
  docker/grafana/dashboards/agentlightning.json
Due: prettier

.
  agentlightning/store/collection/mongo.py
  agentlightning/store/collection_based.py
  agentlightning/store/memory.py
  agentlightning/store/mongo.py
  docker/grafana/dashboards/agentlightning.json
Due: prettier

.
  agentlightning/store/collection/mongo.py
Due: none

fix metrics tracking
  agentlightning/store/client_server.py
  agentlightning/store/collection/mongo.py
  agentlightning/store/collection_based.py
Due: none

update
  agentlightning/emitter/__init__.py
  agentlightning/emitter/annotation.py
  agentlightning/emitter/exception.py
  agentlightning/emitter/message.py
  agentlightning/emitter/object.py
  agentlightning/emitter/reward.py
  agentlightning/semconv.py
  agentlightning/types/tracer.py
  agentlightning/utils/otel.py
Due: none

update tests
  tests/utils/test_otel.py
Due: none

update emitter tests
  agentlightning/utils/otel.py
  tests/emitter/test_annotation.py
  tests/emitter/test_emitter.py
  tests/emitter/test_exception.py
  tests/emitter/test_message.py
  tests/emitter/test_object.py
  tests/emitter/test_reward.py
  tests/utils/test_otel.py
Due: none

add to docs
  docs/reference/agent.md
  docs/stylesheets/extra.css
Due: prettier, stylelint

update usages
  agentlightning/adapter/triplet.py
  agentlightning/emitter/reward.py
  agentlightning/llm_proxy.py
  agentlightning/runner/agent.py
  agentlightning/tracer/otel.py
  agentlightning/types/tracer.py
  agentlightning/utils/otlp.py
  docs/reference/types.md
  docs/tutorials/traces.md
  tests/algorithm/test_apo.py
  tests/emitter/test_exception.py
  tests/emitter/test_message.py
  tests/emitter/test_object.py
  tests/emitter/test_reward.py
  tests/runner/test_agent_integration.py
  tests/runner/test_agent_runner.py
  tests/utils/test_otlp.py
Due: none

.
  agentlightning/emitter/annotation.py
  agentlightning/semconv.py
  docs/reference/agent.md
  docs/reference/types.md
  docs/tutorials/debug.md
  docs/tutorials/traces.md
  examples/minimal/write_traces.py
  tests/runner/test_agent_integration.py
Due: none

.
  tests/benchmark/benchmark_store.py
Due: none

fix lint
  agentlightning/utils/otlp.py
  docs/tutorials/write-agents.md
  examples/minimal/write_traces.py
Due: none

fix comments
  agentlightning/__init__.py
  agentlightning/emitter/exception.py
  agentlightning/emitter/message.py
  agentlightning/emitter/object.py
  agentlightning/env_var.py
  agentlightning/semconv.py
  agentlightning/utils/otel.py
  docs/reference/types.md
Due: none

Deployed 3ca0cfa to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/contributing/index.html
  latest/how-to/examples-catalog/index.html
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

supporting tags
  agentlightning/emitter/reward.py
  agentlightning/semconv.py
  agentlightning/utils/otel.py
  tests/emitter/test_reward.py
  tests/utils/test_otel.py
Due: none

update doc
  agentlightning/emitter/object.py
  agentlightning/utils/otel.py
  docs/reference/internal.md
Due: none

fix repr
  agentlightning/tracer/otel.py
  agentlightning/utils/otel.py
  agentlightning/utils/otlp.py
  examples/calc_x/train_calc_agent.py
Due: none

add test code to agentops's tracer (#324)
  tests/tracer/test_agentops.py
Due: none

Deployed 4b52cd6 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/contributing/index.html
  latest/how-to/examples-catalog/index.html
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

fix otel
  agentlightning/utils/otel.py
Due: none

boost perf
  agentlightning/store/collection_based.py
  agentlightning/store/memory.py
  agentlightning/store/mongo.py
Due: none

Deployed 319f659 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/contributing/index.html
  latest/deep-dive/birds-eye-view/index.html
  latest/how-to/examples-catalog/index.html
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/objects.inv
  latest/reference/agent/index.html
  latest/reference/internal/index.html
  latest/reference/types/index.html
  latest/search/search_index.json
  latest/stylesheets/extra.css
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
  latest/tutorials/traces/index.html
  latest/tutorials/write-agents/index.html
Due: prettier, stylelint

update collections
  agentlightning/store/collection/mongo.py
  docker/grafana/dashboards/agentlightning.json
Due: prettier

patch llm proxy
  agentlightning/llm_proxy.py
  agentlightning/verl/daemon.py
  tests/llm_proxy/test_llm_proxy_gpu.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  stylelint: any of: \.css$, \.scss$
