Repository millord237/agent-lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=1024"]
        exclude: (^uv\.lock$)|(^docs/assets/.*\.svg$)
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["."]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        pass_filenames: false
        always_run: true
        args: ["."]

  - repo: local
    hooks:
    - id: prettier
      name: prettier (dashboard)
      language: system
      pass_filenames: true
      types_or: [javascript, jsx, ts, tsx, json, css, scss, html]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            # Rebase repo-root paths to the dashboard/ cwd
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            cd dashboard && npx prettier --write "${REBASED[@]}"
          else
            echo "[pre-commit] Skipping prettier: npx not found" >&2
            exit 0
          fi
        '

    - id: eslint
      name: eslint (dashboard)
      language: system
      pass_filenames: true
      types_or: [javascript, jsx, ts, tsx]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            cd dashboard && npx eslint --fix "${REBASED[@]}"
          else
            echo "[pre-commit] Skipping eslint: npx not found" >&2
            exit 0
          fi
        '

    - id: stylelint
      name: stylelint (dashboard)
      language: system
      pass_filenames: true
      types_or: [css, scss]
      entry: >
        bash -c '
          if command -v npx >/dev/null 2>&1; then
            REBASED=()
            for f in "$@"; do
              if [[ "$f" == dashboard/* ]]; then REBASED+=("${f#dashboard/}"); fi
            done
            if [ ${#REBASED[@]} -gt 0 ]; then
              echo "[pre-commit] Linting ${#REBASED[@]} files with stylelint" >&2
              cd dashboard && npx stylelint --fix "${REBASED[@]}"
            else
              echo "[pre-commit] Skipping stylelint: no files to lint" >&2
              exit 0
            fi
          else
            echo "[pre-commit] Skipping stylelint: npx not found" >&2
            exit 0
          fi
        '

add dequeue only benchmark
  .github/workflows/benchmark.yml
  tests/benchmark/micro_benchmark.py
Due: none

init
  AGENTS.md
Due: none

improvements
  AGENTS.md
Due: none

fail microbenchmark
  tests/benchmark/micro_benchmark.py
Due: none

remove extra new line
  AGENTS.md
Due: none

GitHub Actions for RAG example (#357)
  .github/workflows/examples-rag.yml
  agentlightning/runner/agent.py
  agentlightning/trainer/trainer.py
  examples/.gitignore
  examples/rag/README.md
  examples/rag/metric_utils.py
  examples/rag/rag_agent.py
  examples/rag/rag_run_dev.py
  examples/rag/train_rag.py
  examples/rag/wiki_retriever_mcp.py
  tests/runner/test_agent_runner.py
Due: none

Deployed 5cb2b2c to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/contributing/index.html
  latest/how-to/examples-catalog/index.html
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

update agents.md
  .github/workflows/badge-examples.yml
  .github/workflows/badge-latest.yml
  .github/workflows/badge-rag.yml
  AGENTS.md
  examples/README.md
  examples/rag/README.md
Due: none

refine AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

update contributing.md as well
  AGENTS.md
  docs/community/contributing.md
Due: none

Fix sequence ID sorting in traces table (#371)
  dashboard/.gitignore
  dashboard/src/components/TracesTable.story.tsx
  dashboard/src/features/traces/selectors.ts
Due: prettier, eslint

Deployed 3d75039 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/contributing/index.html
  latest/how-to/examples-catalog/index.html
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

update agents.md
  AGENTS.md
Due: none

simplify benchmark
  .github/workflows/benchmark.yml
  .gitignore
Due: none

Fix TracesTable story
  dashboard/src/components/TracesTable.story.tsx
Due: prettier, eslint

fix micro benchmark
  tests/benchmark/micro_benchmark.py
Due: none

Add AGENTS.md (#374)
  .github/workflows/badge-examples.yml
  .github/workflows/badge-latest.yml
  .github/workflows/badge-rag.yml
  AGENTS.md
  CLAUDE.md
  docs/community/contributing.md
  examples/README.md
  examples/rag/README.md
Due: none

Deployed 013bb42 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/contributing/index.html
  latest/how-to/examples-catalog/index.html
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/search/search_index.json
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

Fix TracesTable story (#375)
  dashboard/src/components/TracesTable.story.tsx
Due: prettier, eslint

Deployed 5c64966 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/contributing/index.html
  latest/how-to/examples-catalog/index.html
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

checkpoint for metrics migration
  agentlightning/store/client_server.py
  agentlightning/store/collection/base.py
  agentlightning/store/collection/memory.py
  agentlightning/store/collection/mongo.py
  agentlightning/store/collection_based.py
  agentlightning/store/memory.py
Due: none

vqa multimodal debug
  agentlightning/adapter/__init__.py
  agentlightning/adapter/multimodal.py
  examples/multimodal_vqa/README.md
  examples/multimodal_vqa/data_utils.py
  examples/multimodal_vqa/download_vqav2.sh
  examples/multimodal_vqa/multimodal_data.py
  examples/multimodal_vqa/train_vqa_agent.py
  examples/multimodal_vqa/vqa_agent.py
  examples/multimodal_vqa/vqa_agent_baseline.py
  pyproject.toml
Due: none

debug
  agentlightning/verl/entrypoint.py
  agentlightning/verl/trainer.py
  examples/chartqa/README.md
  examples/chartqa/chartqa_agent.py
  examples/chartqa/download_chartqa.sh
  examples/chartqa/prepare_data.py
  examples/chartqa/train_chartqa_agent.py
  examples/multimodal_vqa/create_debug_dataset.py
Due: none

add multimodal rope utils
  agentlightning/verl/daemon.py
  agentlightning/verl/multimodal_utils.py
  examples/chartqa/chartqa_agent.py
  examples/chartqa/train_chartqa_agent.py
Due: none

debug training
  agentlightning/verl/trainer.py
  examples/chartqa/train_chartqa_agent.py
Due: none

test 10
  examples/chartqa/chartqa_agent.py
Due: none

multimodal example chartqa
  .gitignore
  agentlightning/algorithm/fast.py
  agentlightning/execution/client_server.py
  agentlightning/runner/agent.py
  agentlightning/store/client_server.py
  agentlightning/tracer/agentops.py
  agentlightning/trainer/trainer.py
  agentlightning/verl/daemon.py
  agentlightning/verl/entrypoint.py
  agentlightning/verl/multimodal_utils.py
  agentlightning/verl/trainer.py
  dashboard/public/main.tsx
  examples/chartqa/README.md
  examples/chartqa/train_chartqa_agent.py
  scripts/start_vllm.sh
Due: prettier, eslint

chartqa agent
  examples/chartqa/chartqa_agent.py
Due: none

metrics migration part 2
  agentlightning/cli/store.py
  agentlightning/store/client_server.py
  agentlightning/store/collection/base.py
  agentlightning/store/mongo.py
  agentlightning/utils/metrics.py
  agentlightning/utils/server_launcher.py
Due: none

update metrics
  agentlightning/store/client_server.py
  agentlightning/utils/metrics.py
  tests/utils/test_metrics.py
Due: none

fix console logging
  agentlightning/cli/store.py
  agentlightning/store/client_server.py
  agentlightning/store/collection/base.py
  agentlightning/store/collection/mongo.py
  agentlightning/store/collection_based.py
  agentlightning/utils/metrics.py
  tests/utils/test_metrics.py
Due: none

minor fix
  agentlightning/store/collection_based.py
  agentlightning/utils/metrics.py
  docs/reference/internal.md
Due: none

fix trainer
  agentlightning/trainer/trainer.py
Due: none

make log async
  agentlightning/store/client_server.py
  agentlightning/store/collection/base.py
  agentlightning/store/collection_based.py
  agentlightning/utils/metrics.py
  examples/minimal/write_metrics.py
  tests/utils/test_metrics.py
Due: none

multimodal agent example
  examples/chartqa/README.md
  examples/chartqa/chartqa_agent.py
  examples/chartqa/train_chartqa_agent.py
Due: none

Fix pre-commit and pyright issues for multimodal example
  agentlightning/adapter/multimodal.py
  agentlightning/verl/daemon.py
  agentlightning/verl/multimodal_utils.py
  examples/chartqa/README.md
  examples/chartqa/chartqa_agent.py
  examples/chartqa/prepare_data.py
  examples/chartqa/train_chartqa_agent.py
Due: none

update readme
  examples/chartqa/README.md
Due: none

change logger.info for algorithm
  agentlightning/execution/client_server.py
Due: none
