Repository millord237/agent-lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier (dashboard)
  language: system
  pass_filenames: true
  ...

eslint:
  name: eslint (dashboard)
  language: system
  pass_filenames: true
  ...

stylelint:
  name: stylelint (dashboard)
  language: system
  pass_filenames: true
  ...

fix style
  .pre-commit-config.yaml
  dashboard/package.json
  dashboard/src/components/AppAlertBanner.story.tsx
  dashboard/src/components/AppDrawer.component.tsx
  dashboard/src/components/AppDrawer.story.tsx
  dashboard/src/pages/Resources.page.tsx
  dashboard/src/pages/Settings.page.story.tsx
  dashboard/src/styles/app.css
  dashboard/vite.config.mjs
Due: prettier, eslint, stylelint

commit style changes
  dashboard/README.md
Due: none

refactor mock
  dashboard/src/pages/Rollouts.page.story.tsx
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/src/types.ts
  dashboard/src/utils/mock.test.ts
  dashboard/src/utils/mock.ts
  dashboard/vite.config.mjs
Due: prettier, eslint

update lint
  .github/workflows/tests.yml
Due: none

update mock
  dashboard/src/utils/mock.ts
Due: prettier, eslint

.
  dashboard/src/pages/Resources.page.story.tsx
  dashboard/src/pages/Resources.page.tsx
Due: prettier, eslint

update mock
  dashboard/src/features/rollouts/api.ts
  dashboard/src/features/traces/selectors.ts
  dashboard/src/utils/mock.test.ts
  dashboard/src/utils/mock.ts
Due: prettier, eslint

creating rollouts
  dashboard/test-utils/mockedPythonServer.py
Due: none

update mocked server
  dashboard/test-utils/mockedPythonServer.py
Due: none

.
  dashboard/test-utils/python-server.py
Due: none

update tests
  dashboard/src/features/resources/resources.test.ts
  dashboard/src/features/rollouts/rollouts.test.ts
  dashboard/src/features/traces/traces.test.ts
  dashboard/test-utils/index.ts
  dashboard/test-utils/server.ts
  dashboard/vitest.setup.mjs
Due: prettier, eslint

interface implemented, but still have some issues for the periodical operations
  agentlightning/store/database/dbstore.py
  agentlightning/store/database/orm/__init__.py
  agentlightning/store/database/orm/attempt.py
  agentlightning/store/database/orm/rollout.py
  agentlightning/store/database/orm/scheduler.py
  agentlightning/store/database/orm/span.py
  agentlightning/store/database/retry_helper.py
  agentlightning/store/database/utils.py
  agentlightning/types/core.py
Due: none

add more tests
  agentlightning/store/client_server.py
  dashboard/src/features/resources/resources.test.ts
  dashboard/src/features/rollouts/rollouts.test.ts
  dashboard/src/features/traces/traces.test.ts
Due: prettier, eslint

add tests on python side
  tests/store/test_restful.py
Due: none

update drawer for traces
  dashboard/src/components/AppDrawer.component.tsx
  dashboard/src/components/AppDrawer.story.tsx
  dashboard/src/components/TracesTable.component.tsx
  dashboard/src/layouts/AppLayout.tsx
  dashboard/src/pages/Rollouts.page.story.tsx
  dashboard/src/pages/Traces.page.story.tsx
Due: prettier, eslint

.
  dashboard/src/pages/Resources.page.story.tsx
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/src/styles/app.css
Due: prettier, eslint, stylelint

.
  dashboard/src/pages/Resources.page.story.tsx
  dashboard/src/pages/Resources.page.tsx
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/src/pages/Traces.page.tsx
Due: prettier, eslint

.
  dashboard/src/components/ResourcesTable.component.tsx
  dashboard/src/components/TracesTable.component.tsx
  dashboard/src/pages/Resources.page.story.tsx
  dashboard/src/pages/Resources.page.tsx
  dashboard/src/pages/Rollouts.page.story.tsx
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/src/pages/Traces.page.tsx
  dashboard/src/utils/error.ts
Due: prettier, eslint

.
  dashboard/src/pages/Traces.page.story.tsx
Due: prettier, eslint

configurable retry added
  agentlightning/store/database/dbstore.py
  agentlightning/store/database/retry_helper.py
  tests/store/conftest.py
Due: none

docs: add deepwiki badge to readme (#263)
  README.md
Due: none

Deployed a37e8d7 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

fix app.css
  dashboard/src/styles/app.css
Due: prettier, stylelint

.
  dashboard/src/components/TracesTable.component.tsx
  dashboard/src/pages/Resources.page.story.tsx
  dashboard/src/pages/Rollouts.page.story.tsx
  dashboard/src/pages/Settings.page.story.tsx
  dashboard/src/pages/Traces.page.story.tsx
  dashboard/src/pages/Traces.page.tsx
Due: prettier, eslint

add new metrics
  examples/tinker/q20_train.py
Due: none

.
  examples/tinker/test-results/hello-metrics-chart.json
  examples/tinker/test-results/parse_hello_metrics.py
Due: prettier

..
  examples/tinker/test-results/barplot.py
  examples/tinker/test-results/barplot_category.json
  examples/tinker/test-results/barplot_overall.json
  examples/tinker/test-results/twenty_questions_qwen4b_withtool_gpt5mini_20251026.jsonl
Due: prettier

.
  examples/tinker/test-results/barplot.py
  examples/tinker/test-results/barplot_split.json
Due: prettier

.
  examples/tinker/test-results/train_q20_no_search.txt
  examples/tinker/test-results/train_q20_no_search_30b.jsonl
  examples/tinker/test-results/train_q20_no_search_4b.jsonl
  examples/tinker/test-results/train_q20_search_4b.jsonl
Due: none

.
  examples/tinker/test-results/AgentLightningQ20VERL_05kd8o8n_metrics.csv
Due: none

.
  examples/tinker/test-results/lineplot.py
  examples/tinker/test-results/lineplot_accuracy_q20_no_search_30b.json
  examples/tinker/test-results/lineplot_accuracy_q20_no_search_4b.json
  examples/tinker/test-results/lineplot_accuracy_q20_search_4b.json
  examples/tinker/test-results/lineplot_accuracy_verl.json
  examples/tinker/test-results/lineplot_cost_vs_accuracy.json
  examples/tinker/test-results/lineplot_tokens_per_turn.json
Due: prettier

.
  examples/tinker/test-results/lineplot.py
  examples/tinker/test-results/lineplot_time_vs_accuracy.json
Due: prettier

support periodic background tasks for attempt timeout checking
  agentlightning/store/database/dbstore.py
  agentlightning/store/database/orm/attempt.py
  tests/store/conftest.py
Due: none

.
  examples/tinker/test-results/barplot.py
  examples/tinker/test-results/barplot_category.json
  examples/tinker/test-results/barplot_category_count.json
  examples/tinker/test-results/barplot_overall.json
  examples/tinker/test-results/barplot_split.json
  examples/tinker/test-results/train_q20_no_search.txt
Due: prettier

Adding VERL replacement for Tinker
  examples/tinker/README.md
  examples/tinker/q20_train.py
Due: none

update error messages
  agentlightning/store/database/dbstore.py
  agentlightning/store/database/orm/attempt.py
Due: none

Apply suggestion from @Copilot
  examples/tinker/q20_train.py
Due: none

Adding VERL replacement for Tinker (#264)
  examples/tinker/README.md
  examples/tinker/q20_train.py
Due: none

Deployed 58451d5 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  stylelint: any of: \.css$, \.scss$
