Repository millord237/agent-lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier (dashboard)
  language: system
  pass_filenames: true
  ...

eslint:
  name: eslint (dashboard)
  language: system
  pass_filenames: true
  ...

stylelint:
  name: stylelint (dashboard)
  language: system
  pass_filenames: true
  ...

Deployed 19e8fe7 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/deep-dive/store/index.html
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/objects.inv
  latest/reference/runner/index.html
  latest/reference/store/index.html
  latest/reference/types/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

fix stream response for anthropic and openai api (#293)
  agentlightning/llm_proxy.py
  docs/reference/internal.md
  examples/tinker/agl_tinker/llm.py
  examples/tinker/q20_evaluate.py
  tests/llm_proxy/test_llm_proxy_gpu.py
  tests/llm_proxy/test_stream.py
Due: none

Deployed 67a2e0d to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/objects.inv
  latest/reference/algorithm/index.html
  latest/reference/internal/index.html
  latest/search/search_index.json
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

.
  agentlightning/verl/trainer.py
Due: none

Fix local model support in VERL (#299)
  .github/workflows/examples-calc-x.yml
  agentlightning/verl/trainer.py
Due: none

Deployed c6bfc0f to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

Fix local model support in VERL (#299) (#300)
  .github/workflows/examples-calc-x.yml
  agentlightning/verl/trainer.py
Due: none

add more records
  docs/changelog.md
Due: none

[Release] v0.2.2 (#298)
  docs/changelog.md
Due: none

Deployed a3f512c to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/changelog/index.html
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/search/search_index.json
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

[Release] v0.2.2 (#298) (#301)
  docs/changelog.md
Due: none

init
  agentlightning/cli/store.py
  agentlightning/store/client_server.py
  agentlightning/utils/server_launcher.py
  tests/store/test_client_server.py
Due: none

add one more test
  tests/store/test_client_server.py
Due: none

increase timeout
  agentlightning/execution/client_server.py
Due: none

.
  README.md
Due: none

fix
  agentlightning/store/client_server.py
  tests/store/dummy_store.py
  tests/store/test_client_server.py
Due: none

.
  tests/llm_proxy/test_llm_proxy_gpu.py
Due: none

.
  agentlightning/llm_proxy.py
  agentlightning/store/base.py
  agentlightning/store/client_server.py
  agentlightning/store/memory.py
  agentlightning/store/threading.py
  tests/store/dummy_store.py
Due: none

Increase graceful timeout on CI (#302)
  README.md
  agentlightning/execution/client_server.py
  tests/llm_proxy/test_llm_proxy_gpu.py
Due: none

Deployed c05c43f to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/reference/trainer/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

Fix CI badge
  .github/workflows/badge-compat.yml
  .github/workflows/badge-unit.yml
  README.md
  scripts/badge_aggregation.js
Due: prettier, eslint

update calc-x pipeline
  .github/workflows/examples-calc-x.yml
  examples/calc_x/train_calc_agent.py
Due: none

.
  .github/workflows/examples-calc-x.yml
Due: none

Use PythonServerLauncher in LightningStoreServer (#303)
  agentlightning/cli/store.py
  agentlightning/llm_proxy.py
  agentlightning/store/base.py
  agentlightning/store/client_server.py
  agentlightning/store/memory.py
  agentlightning/store/threading.py
  agentlightning/utils/server_launcher.py
  tests/store/dummy_store.py
  tests/store/test_client_server.py
Due: none

Deployed abc9ddf to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/objects.inv
  latest/reference/internal/index.html
  latest/reference/store/index.html
  latest/search/search_index.json
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

new logging
  agentlightning/logging.py
  tests/test_logging.py
Due: none

add unit tests
  agentlightning/logging.py
  tests/test_logging.py
Due: none

update tests
  agentlightning/logging.py
  tests/test_logging.py
Due: none

.
  agentlightning/__init__.py
  agentlightning/logging.py
Due: none

use setup logging in favor of configure_logger
  agentlightning/__init__.py
  agentlightning/cli/store.py
  agentlightning/logging.py
  agentlightning/verl/daemon.py
  examples/apo/apo_custom_algorithm.py
  examples/apo/apo_custom_algorithm_trainer.py
  examples/apo/apo_debug.py
  examples/apo/legacy_apo_client.py
  examples/apo/room_selector_apo.py
  examples/azure/tests/test_deployment.py
  examples/azure/train_capital_agent.py
  examples/calc_x/legacy_calc_agent.py
  examples/rag/rag_agent.py
  examples/search_r1/search_r1_agent.py
  examples/spider/sql_agent.py
  examples/tinker/hello.py
  examples/tinker/q20_train.py
  examples/tinker/tests/test_tinker_llm.py
  examples/unsloth/math_agent.py
  examples/unsloth/sft_algorithm.py
  examples/unsloth/sft_allinone.py
  examples/unsloth/sft_rollout_runners.py
  tests/utils/test_server_launcher.py
Due: none

.
  agentlightning/logging.py
  tests/test_logging.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  stylelint: any of: \.css$, \.scss$
