Repository millord237/agent-lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier (dashboard)
  language: system
  pass_filenames: true
  ...

eslint:
  name: eslint (dashboard)
  language: system
  pass_filenames: true
  ...

stylelint:
  name: stylelint (dashboard)
  language: system
  pass_filenames: true
  ...

Deployed b0b1943 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

implement capabilities set
  agentlightning/llm_proxy.py
  agentlightning/store/__init__.py
  agentlightning/store/base.py
  agentlightning/store/client_server.py
  agentlightning/store/memory.py
  agentlightning/store/threading.py
  agentlightning/verl/daemon.py
  docs/how-to/unsloth-sft.md
  docs/tutorials/debug.md
  examples/tinker/agl_tinker/llm.py
  examples/tinker/agl_tinker/train.py
  examples/tinker/q20_evaluate.py
  examples/tinker/q20_train.py
  examples/tinker/tests/test_tinker_llm.py
  examples/unsloth/sft_algorithm.py
Due: none

fix cpu test
  tests/llm_proxy/test_llm_proxy_cpu.py
Due: none

.
  agentlightning/llm_proxy.py
Due: none

fix lint
  agentlightning/llm_proxy.py
  examples/tinker/agl_tinker/train.py
  tests/runner/test_agent_integration.py
  tests/utils/test_server_launcher.py
Due: none

.
  tests/llm_proxy/test_llm_proxy_cpu.py
Due: none

.
  .github/workflows/tests-full.yml
  .github/workflows/tests.yml
  tests/llm_proxy/test_llm_proxy_gpu.py
Due: none

fix tests partially
  agentlightning/llm_proxy.py
  examples/tinker/agl_tinker/llm.py
  examples/tinker/tests/test_tinker_llm.py
  tests/llm_proxy/test_llm_proxy_cpu.py
  tests/llm_proxy/test_llm_proxy_gpu.py
Due: none

fix tinker example
  agentlightning/llm_proxy.py
  agentlightning/utils/server_launcher.py
  examples/tinker/agl_tinker/algo.py
  examples/tinker/agl_tinker/llm.py
  examples/tinker/agl_tinker/train.py
  examples/tinker/hello.py
  examples/tinker/q20_evaluate.py
  examples/tinker/q20_train.py
  examples/tinker/tests/test_tinker_llm.py
  tests/llm_proxy/test_llm_proxy_cpu.py
Due: none

implement n_workers
  agentlightning/llm_proxy.py
  tests/llm_proxy/test_llm_proxy_gpu.py
Due: none

revert
  examples/tinker/agl_tinker/algo.py
  examples/tinker/q20_evaluate.py
  examples/tinker/tests/test_tinker_llm.py
Due: none

.
  agentlightning/llm_proxy.py
  tests/llm_proxy/test_llm_proxy_gpu.py
Due: none

update docs
  agentlightning/llm_proxy.py
  agentlightning/utils/server_launcher.py
  docs/reference/internal.md
Due: none

add comment
  examples/tinker/agl_tinker/llm.py
  examples/tinker/agl_tinker/train.py
Due: none

Use unified server launcher for LiteLLM Proxy (#292)
  .github/workflows/tests-full.yml
  .github/workflows/tests.yml
  agentlightning/llm_proxy.py
  agentlightning/store/__init__.py
  agentlightning/store/base.py
  agentlightning/store/client_server.py
  agentlightning/store/memory.py
  agentlightning/store/threading.py
  agentlightning/utils/server_launcher.py
  agentlightning/verl/daemon.py
  docs/how-to/unsloth-sft.md
  docs/reference/internal.md
  docs/tutorials/debug.md
  examples/tinker/agl_tinker/algo.py
  examples/tinker/agl_tinker/llm.py
  examples/tinker/agl_tinker/train.py
  examples/tinker/hello.py
  examples/tinker/q20_evaluate.py
  examples/tinker/q20_train.py
  examples/tinker/tests/test_tinker_llm.py
  examples/unsloth/sft_algorithm.py
  tests/llm_proxy/test_llm_proxy_cpu.py
  tests/llm_proxy/test_llm_proxy_gpu.py
  tests/runner/test_agent_integration.py
  tests/utils/test_server_launcher.py
Due: none

Deployed ae99464 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/how-to/train-first-agent/index.html
  latest/how-to/train-sql-agent/index.html
  latest/how-to/unsloth-sft/index.html
  latest/how-to/write-first-algorithm/index.html
  latest/macros/__pycache__/source_links.cpython-312.pyc
  latest/objects.inv
  latest/reference/algorithm/index.html
  latest/reference/internal/index.html
  latest/reference/store/index.html
  latest/search/search_index.json
  latest/tutorials/debug/index.html
  latest/tutorials/installation/index.html
  latest/tutorials/parallelize/index.html
Due: prettier

add worker status
  agentlightning/runner/agent.py
  agentlightning/types/core.py
Due: none

.
  agentlightning/store/base.py
  agentlightning/types/core.py
  agentlightning/utils/system_snapshot.py
Due: none

update store implementation
  agentlightning/store/base.py
  agentlightning/store/client_server.py
  agentlightning/store/memory.py
  agentlightning/store/threading.py
  tests/store/dummy_store.py
  tests/store/test_client_server.py
  tests/store/test_implementation.py
  tests/store/test_restful.py
  tests/store/test_threading.py
Due: none

add get_worker_by_id
  agentlightning/store/base.py
  agentlightning/store/client_server.py
  agentlightning/store/memory.py
  agentlightning/store/threading.py
  tests/store/dummy_store.py
  tests/store/test_client_server.py
  tests/store/test_implementation.py
  tests/store/test_restful.py
  tests/store/test_threading.py
Due: none

add worker page onto dashboard
  dashboard/src/Router.tsx
  dashboard/src/components/AppDrawer.component.tsx
  dashboard/src/components/WorkersTable.component.tsx
  dashboard/src/components/WorkersTable.story.tsx
  dashboard/src/features/rollouts/api.ts
  dashboard/src/features/ui/drawer/slice.ts
  dashboard/src/features/workers/index.ts
  dashboard/src/features/workers/selectors.ts
  dashboard/src/features/workers/slice.ts
  dashboard/src/features/workers/workers.test.ts
  dashboard/src/layouts/AppLayout.story.tsx
  dashboard/src/layouts/AppLayout.tsx
  dashboard/src/pages/Workers.page.story.tsx
  dashboard/src/pages/Workers.page.tsx
  dashboard/src/store/index.ts
  dashboard/src/types.ts
  dashboard/src/utils/mock.test.ts
  dashboard/src/utils/mock.ts
  dashboard/test-utils/python-server.py
Due: prettier, eslint

add worker page onto dashboard
  dashboard/src/components/WorkersTable.story.tsx
  dashboard/src/features/workers/selectors.ts
  dashboard/src/features/workers/workers.test.ts
  dashboard/src/utils/mock.test.ts
  dashboard/src/utils/mock.ts
Due: prettier, eslint

update worker impl
  agentlightning/store/base.py
  agentlightning/store/client_server.py
  agentlightning/store/memory.py
  agentlightning/store/threading.py
  agentlightning/types/core.py
  docs/deep-dive/store.md
  tests/store/dummy_store.py
  tests/store/test_client_server.py
  tests/store/test_implementation.py
  tests/store/test_restful.py
  tests/store/test_threading.py
Due: none

update client server tests
  tests/store/test_client_server.py
Due: none

update workers status
  dashboard/src/components/AppDrawer.component.tsx
  dashboard/src/components/WorkersTable.component.tsx
  dashboard/src/components/WorkersTable.story.tsx
  dashboard/src/pages/Workers.page.story.tsx
  dashboard/src/types.ts
  dashboard/src/utils/mock.test.ts
  dashboard/test-utils/python-server.py
Due: prettier, eslint

add sequence id to traces
  dashboard/src/components/TracesTable.component.tsx
Due: prettier, eslint

make memory store faster
  agentlightning/store/memory.py
Due: none

fix agent
  agentlightning/runner/agent.py
  agentlightning/store/memory.py
  tests/runner/test_agent_runner.py
  tests/store/test_client_server.py
Due: none

.
  agentlightning/runner/agent.py
Due: none

rename some workers to runners to avoid confusion
  agentlightning/types/core.py
  dashboard/src/components/WorkersTable.component.tsx
  dashboard/src/layouts/AppLayout.story.tsx
  dashboard/src/layouts/AppLayout.tsx
  dashboard/src/pages/Workers.page.story.tsx
  dashboard/src/pages/Workers.page.tsx
Due: prettier, eslint

minor fix
  dashboard/src/pages/Workers.page.story.tsx
Due: prettier, eslint

.
  docs/reference/types.md
Due: none

.
  tests/utils/test_system_snapshot.py
Due: none

.
  agentlightning/runner/agent.py
  docs/deep-dive/store.md
Due: none

fix router
  dashboard/src/Router.tsx
Due: prettier, eslint

v0.2.2 release
  docs/changelog.md
Due: none

fix and add tests
  .github/workflows/examples-calc-x.yml
  agentlightning/verl/trainer.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  stylelint: any of: \.css$, \.scss$
